#maincontainer{
    height: 500px;
  width: 750px;
  box-shadow: 0 0 10px black;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 120px auto;
  background-color: aquamarine;
}
#container{
    height: 443px;
    width: 600px;
    box-shadow: 0 0 10px black;
    background-color: white;
    border: 10px solid black;
    border-radius: 5px;
    
}
#navbar{
    height: 50px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    background-color: silver;
}
#head{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}
#foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    background-color: black;
    color: grey;
    font-size: 9px;
    height: 100px;
}